# {{ ansible_managed }}, ran by {{ template_uid }}@{{ template_host }}

[user]
email = {{ gitemail }}
name = {{ gitname }}

[push]
default = matching
recurseSubmodules = check

[branch]
autosetuprebase = always

[alias]
br = branch -vv
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
up = !git pull --rebase --autostash && git submodule update --remote
root = !pwd
st = status
co = checkout
tree = log --graph --decorate --pretty=oneline --abbrev-commit
lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

[color]
ui = true

[core]
editor = vim
excludesfile = ~/.gitignore

[color "diff"]
frag = magenta bold
old = red bold
new = green bold
meta = 227
commit = 227 bold
whitespace = red reverse

[color "diff-highlight"]
oldNormal = red bold
newNormal = green bold
oldHighlight = red bold 52
newHighlight = green bold 22

[fetch]
recurseSubmodules = true

[submodule]
recurse = true
